/* ColorBends CSS */
.color-bends-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  overflow: hidden;
}

.color-bends-canvas {
  width: 100%;
  height: 100%;
  display: block;
}